<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-cookie.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/underscore-min.js"></script>
    <script type="text/javascript" src="static/js/mustache.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
    <title>Movie Day</title>
</head>
<body>
    {% verbatim %}
        <script type="text/template" id="intheaters_template">
            <div id="header" class="text-center">
                <h1>Currently In Theaters</h1>
                <p>Click on a movie to see more information. Numbers represent critics&#39 ratings.</p>
            </div>
            {{#.}}
            <div class="tile" href="#">
                <div class="content" data-toggle="modal" data-target="#{{id}}">
                    <div class="pic" style="background-image:url('{{posters.profile}}')">
                        <span class="banner">{{ratings.critics_score}}</span>
                    </div>
                </div>
                <div class="title">{{title}}</div>
            </div>
            <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                  </div>
                  <div class="modal-body" style="display:inline">
                        <div class="row">
                            <div class="col-md-3" style="overflow:hidden">
                                <img src="{{posters.profile}}"/>
                            </div>
                            <div class="col-md-9">
                                <h4>Synopsis</h4>
                                <p style="display:inline">{{synopsis}}</p>
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {{/.}}
        </script>
        <script type="text/template" id="zip_results">
        <div id="zip-wrapper">
            <div class="container">
                <div class="jumbotron text-center">
                    <h2>Select a Theater</h2>
                    {{#.}}
                        <p><a href='#{{name}}' id="{{id}}" class="theater-link">{{name}}</a></p>
                    {{/.}}
                </div>
            </div>
        </script>
        <script type="text/template" id="theater_template">
            <div id="theater-results">
                <div id="header" class="text-center">
                    <button type="button" id="choose" class="btn btn-default">GO</button>
                    <h2 class="text-center">Choose Movies</h2>
                    <p>Select at least two movies you would like to see. We will tell you the most efficient way to see two at a time.</p>
                    <p>Click on a movie for a synopsis and showtimes. Numbers represent critics&#39 ratings.</p>
                </div>
                {{#.}}
                <div class="tile" href="#">
                    <div class="content" data-toggle="modal" data-target="#{{id}}">
                        <div class="pic" style="background-image:url('{{poster}}')">
                            <span class="banner">{{score}}</span>
                        </div>
                    </div>
                    <div class="title">{{name}}</div>
                    <div class="text-center">
                        <label id="watch" class="btn btn-success btn-xs">
                            <input type="checkbox" style="display:none" value="{{id}}">
                            Watch!
                        </label>
                    </div>
                </div>
                <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{{name}}</h4>
                      </div>
                      <div class="modal-body" style="display:inline">
                            <div class="row">
                                <div class="col-md-3" style="overflow:hidden">
                                    <img src="{{poster}}"/>
                                </div>
                                <div class="col-md-9">
                                    <h4>Synopsis</h4>
                                    <p style="display:inline">{{synopsis}}</p>
                                </div>
                            </div>
                            <h3>Showtimes</h3>
                            <div class="row">
                                {{#display_showtimes}}
                                    <div class="col-md-1">
                                        {{.}}
                                    </div>
                                {{/display_showtimes}}
                            </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                {{/.}}
            </div>
        </script>
        <script type="text/template" id="final_template">
            <section id="movies" style="display:block">
                <h2 class="text-center">You should see...</h2>
                {{#.}}
                <div class="tile" href="#">
                    <div class="content" data-toggle="modal" data-target="#{{first_id}}">
                        <div class="pic" style="background-image:url('{{first_poster}}')">
                            <span class="banner">{{first_score}}</span>
                        </div>
                    </div>
                    <div class="title">{{first_name}}</div>
                </div>
                <div class="tile" href="#">
                    <div class="content" data-toggle="modal" data-target="#{{second_id}}">
                        <div class="pic" style="background-image:url('{{second_poster}}')">
                            <span class="banner">{{second_score}}</span>
                        </div>
                    </div>
                    <div class="title">{{second_name}}</div>
                </div>

                <!-- Modal for 1st movie -->
                <div class="modal fade" id="{{first_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{{first_name}}</h4>
                      </div>
                      <div class="modal-body" style="display:inline">
                            <div class="row">
                                <div class="col-md-3" style="overflow:hidden">
                                    <img src="{{first_poster}}"/>
                                </div>
                                <div class="col-md-9">
                                    <p style="display:inline">{{first_synopsis}}</p>
                                </div>
                            </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal for 2nd movie -->
                <div class="modal fade" id="{{second_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{{second_name}}</h4>
                      </div>
                      <div class="modal-body" style="display:inline">
                            <div class="row">
                                <div class="col-md-3" style="overflow:hidden">
                                    <img src="{{second_poster}}"/>
                                </div>
                                <div class="col-md-9">
                                    <p style="display:inline">{{second_synopsis}}</p>
                                </div>
                            </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                {{/.}}
            </section>
        </script>
    {% endverbatim %}

<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-home"></span> 
    </a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a id="goto-theaters" href="#">Theaters</a></li>
      <li><a id="goto-movies" href="#">Movies</a></li>
      <li><a href="#current-movies">Current Movies</a></li>
    </ul>
  </div>
</nav>
    <div id="content">
        <div id="jumbotron-wrapper">
            <div class="container">
                <div class="jumbotron text-center">
                    <h1>Welcome to Movie Day!</h1>
                    <p>Movie day helps you plan your day at the movies. Enter your zip code below and when you want to go to the movies to get started.</p>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            <div class="input-group">
                                <input type="text" class="form-control" id ="zip" placeholder="Enter zip code"/> 
                                <span class="input-group-btn">
                                    <button class="btn btn-info" id ="search" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                      <button id="chosen-date" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Today <span class="caret"></span>
                      </button>
                      <ul id="day" class="dropdown-menu" role="menu">

                      </ul>
                    </div>
                    <div class="btn-group">
                      <button id="chosen-time" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Now <span class="caret"></span>
                      </button>
                      <ul id="time" class="dropdown-menu" role="menu">

                      </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container"><div class="divider"></div></div>
        <div id="steps-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <span class="glyphicon glyphicon-search"></span>
                        </div>
                        <h3>Search for theater</h3>
                        <p>Enter your zip code above to search for theaters in your area. You can also specify when you want to go by choosing the date and time.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <span class="glyphicon glyphicon-hand-up"></span>
                        </div>
                        <h3>Select Movies</h3>
                        <p>Select at least two movies you want to see. You can click on each movie to get more information. We'll tell you the most time efficient way to watch two movies.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </div>
                        <h3>Watch</h3>
                        <p>This is a test paragraph. Talk about how we show users the results.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container"><div class="divider"></div></div>
        <div id="intheaters-wrapper">
            <a name="current-movies"></a>
            <section id="movies" style="display:block">

            </section>
        </div>
    </div>
</body>
</html>