<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="static/js/jquery-cookie.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/underscore-min.js"></script>
    <script type="text/javascript" src="static/js/mustache.js"></script>
    <script type="text/javascript" src="static/js/application.js"></script>
    <title>Movie Day</title>
</head>
<body>
    {% verbatim %}
        <script type="text/template" id="intheaters_template">
            <h3 class="text-center">Currently In Theaters</h3>
            {{#.}}
            <div class="tile" href="#">
                <div class="content" data-toggle="modal" data-target="#{{id}}">
                    <div class="pic" style="background-image:url('{{posters.profile}}')">
                        <span class="banner">{{ratings.critics_score}}</span>
                    </div>
                    
                </div>
                <div class="title">{{title}}</div>
            </div>
            <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                  </div>
                  <div class="modal-body">
                    {{synopsis}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {{/.}}
        </script>
        <script type="text/template" id="zip_results">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <h3 class="text-center">Select a theater</h3>
                        {{#.}}
                            <h4><a href='#{{name}}' id="{{id}}" class="theater-link">{{name}}</a></h4>
                        {{/.}}
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="theater_template">
            <button type="button" id="choose" class="btn btn-default">GO</button>
            <h3 class="text-center">Results</h3>
            {{#.}}
            <div class="tile" href="#">
                <div class="content" data-toggle="modal" data-target="#{{id}}">
                    <div class="pic" style="background-image:url('{{poster}}')">
                        <span class="banner">{{score}}</span>
                    </div>
                    
                </div>
                <div class="title">{{name}}</div>
                <label class="btn btn-success btn-xs">
                    <input type="checkbox" style="display:none" value="{{id}}">
                    Watch!
                </label>
            
            </div>
            <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{name}}</h4>
                  </div>
                  <div class="modal-body">
                    {{synopsis}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            {{/.}}
        </script>
    {% endverbatim %}
<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-home"></span> 
    </a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</nav>
    <div id="content">
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Welcome to Movie Day!</h1>
                <p>Movie day helps you plan your day at the movies. Simply choose which movies you want to see, and we'll tell you the most efficient way to watch them.</p>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="input-group">
                            <input type="text" class="form-control" id ="zip" placeholder="Enter zip code"/> 
                            <span class="input-group-btn">
                                <button class="btn btn-info" id ="search" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Pick theater</h3>
                    <p>Enter your zip code above to find theaters in your area. Choose which theater you would like to go to.</p>
                </div>
                <div class="col-md-4">
                    <h3>Select Movies</h3>
                    <p>Select all the movies you want to see and let us do the rest.</p>
                </div>
                <div class="col-md-4">
                    <h3>Watch</h3>
                    <p>This is a test paragraph. Talk about how we show users the results.</p>
                </div>
            </div>
        </div>
        <section id="movies" style="display:block">

        </section>
    </div>
</body>
</html>