<html>
    <head>
        <script type="text/javascript" src="static/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="static/js/mustache.js"></script>
        <script type="text/javascript" src="static/js/application.js"></script>
    </head>
    <body>
    {% verbatim %}
        <script type="text/template" id="results">
            <h3>Select a theater</h3>
            {{#.}}
                <h4><a href='#{{name}}' id="{{id}}" class="theater-link">{{name}}</a></h4>
            {{/.}}
        </script>
    {% endverbatim %}
    {% verbatim %}
        <script type="text/template" id="theater">
            <h3>Select movies</h3>
            <form>
            {{#movies}}
                <input type="checkbox" id='{{id}}' class="movie-checkbox">{{name}}<br>
            {{/movies}}
            <button type="button" id="select-movies">Go!</button>
            </form>
        </script>
    {% endverbatim %}
        <div id="container">
            <h2>Please enter your zip code to select a theater</h2>
            <form>
                <input type="text" id="zip"/>
                <button type="button" id="search">Go!</button>
            </form>
        </div>
    </body>
</html>